Student Name: Frank Oyugi  
Supervisor: Maryann Mwikali  
Student pace: Full Time Hybrid

## Overview

The telecommunication sector is a dynamic industry characterized by network infrastructure,technological innovation and global connectivity.However,customers may switch from one telecommunication service to another or they may discontinue the service altogether,a phenomenon called 'Telecom churn'.Telecom churn analysis is a crucial aspect of business intelligence for telecommunication companies as it helps them understand why customers are leaving and what actions can be taken to reduce churn rates.In this project,we are looking to provide predictive and actionable insights regarding likely churn candidates at the telecommunications company SyriaTel. We hope to create a complex model that can predict likely churn candidates as well as the features that impact churn the most.

## Business Understanding

The primary goal of this project is to to unlock actionable insights that will empower SyriaTel to implement targeted strategies to mitigate customer churn, ultimately fostering long-term business sustainability.To achieve this objective we need to develop a model that can identify the key factors influencing telecom churn. To effectively train this model the client requires precise and representative data related to the customers of this telecommunications company.  
Once trained the model will be capable of providing accurate predictions on whether customers will churn or not.  
#### Research Questions  
1.Which features of the SyriaTel dataset are the most significant predictors of customer churn?  
2.How do various models differ in their ability to predict customer churn?  
3.How can SyriaTel mitigate customer churn?

## Data Understanding

The dataset used in this project was sourced from Kaggle (https://www.kaggle.com/datasets/becksddf/churn-in-telecoms-dataset).  
Some of the columns that have been used in the dataset include:
- state:The state the customer lives in.
- account length:The number of days a customer has had an account.
- phone number: the phone number of the customer.
- international plan: true if the customer has the international plan, otherwise false.
- voice mail plan: true if the customer has the voice mail plan, otherwise false.
- number vmail messages: the number of voicemails the customer has sent.
- total day minutes: total number of minutes the customer has been in calls during the day.
- total day calls: total number of calls the user has done during the day.
- total day charge: total amount of money the customer was charged by the Telecom company for calls during the day.
- total eve minutes: total number of minutes the customer has been in calls during the evening.
- total eve calls: total number of calls the customer has done during the evening.
- total eve charge: total amount of money the customer was charged by the Telecom company for calls during the evening.
- total night minutes: total number of minutes the customer has been in calls during the night.
- total night calls: total number of calls the customer has done during the night.
- total night charge: total amount of money the customer was charged by the Telecom company for calls during the night.
- total intl minutes: total number of minutes the user has been in international calls.
- total intl calls: total number of international calls the customer has done.
- total intl charge: total amount of money the customer was charged by the Telecom company for international calls.
- customer service calls: number of calls the customer has made to customer service.
- churn: true if the customer terminated their contract, otherwise false.

### Libraries and Modules.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split

## Data Preparation

We start by loading the dataset.

In [2]:
df = pd.read_csv('telcom-churn.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB

In [4]:
df.describe()

,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [5]:
print(df.shape)

(3333, 21)

In [6]:
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

We can drop columns which do not provide information which is necessary.In this case we can drop the following columns:  
- Phone Number.
- Number of voice mail messages.
- Area code.

In [7]:
df = df.drop(['phone number','number vmail messages','area code'],axis=1)

In [8]:
df.head()

,state,account length,international plan,voice mail plan,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,no,yes,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,no,yes,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,no,no,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,yes,no,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,yes,no,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

#### Null Values

In [9]:
df.isna().sum()

state                     0
account length            0
international plan        0
voice mail plan           0
total day minutes         0
total day calls           0
total day charge          0
total eve minutes         0
total eve calls           0
total eve charge          0
total night minutes       0
total night calls         0
total night charge        0
total intl minutes        0
total intl calls          0
total intl charge         0
customer service calls    0
churn                     0
dtype: int64

There are no null values in the dataset.

#### Duplicates

In [10]:
df.duplicated().sum()

0

This dataset has no duplicates.